.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TAMBAHAN CSS */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer .container {
  width: auto;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo-box > a {
  margin-right: 15px;
  color: rgb(173, 169, 169)
}

.logo-box > a:hover {
  margin-right: 15px;
  color: rgb(219, 212, 212);
  text-decoration: none
}